.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: url('/assets/background.jpg') no-repeat center center fixed; // TODO: Add later
    background-size: cover;
    backdrop-filter: blur(10px);
}

.login-card {
    width: 400px;
    margin: 20px;
}

.full-width {
    width: 100%;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}