<mat-toolbar color="primary" class="custom-toolbar">
  <img
    src="/assets/logo.png"
    alt="MyPetPal Logo"
    class="header-logo"
    (click)="goHome()" />
  <img
    src="/assets/logo-text.png"
    alt="MyPetPal Logo"
    class="header-logo"
    (click)="goHome()" />

  <!-- Spacer to push the user icon to the right -->
  <span class="spacer"></span>

  <!-- User Icon with menu -->
  <button
    mat-icon-button
    [matMenuTriggerFor]="userMenu"
    aria-label="User menu"
    class="profile-trigger">
    <span class="pet-thumb" [attr.aria-label]="'User avatar ' + avatarLetter" role="img">
      @if (avatarUrl) {
        <img [src]="avatarUrl" alt="Profile picture" class="pet-thumb-image" />
      }
      @if (!avatarUrl) {
        {{ avatarLetter }}
      }
    </span>
  </button>
  <mat-menu #userMenu="matMenu">
    <button mat-menu-item (click)="openProfile()">
      <mat-icon>person</mat-icon>
      <span>Profile</span>
    </button>
    <button
      mat-menu-item
      class="replay-tutorial-item"
      (click)="replayTutorial()">
      <mat-icon class="menu-help-icon">help_outline</mat-icon>
      <span>Replay Tutorial</span>
    </button>
    <button mat-menu-item class="about-item" (click)="openAbout()">
      <mat-icon class="menu-info-icon">info</mat-icon>
      <span>About</span>
    </button>
    <button mat-menu-item (click)="logoutUser()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>
